/* main.css */
@import url(vars.css);

* {
    margin: 0.5rem;
    padding: 0;
}

.wrapper {
    display:grid;
    justify-content: center;
    grid-template-areas: "contact""button";
    grid-template-columns: 12em;
    grid-gap: .6em;
    padding:1em;
}

.form-row > label {
    grid-area: labels;
    width: 6em;
    position: relative;
}
.form-row > input {
    grid-area: contact;
    width: 100%;
    padding: 1.1em;
    border:none;
    margin-bottom: 1em;
}

.switch {
    position:relative;
    top: 10px;
    right:10px;
    display:block;
    height: 40px;
}
.container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.3rem;
}
body {
    background-color: var(--background-color);
    color : var(--text-color);
    font-size: var(--body-size);
}

section:has(+ h2) {
    font-weight: bold;
}

nav:hover {
    display:inline-block;
    margin-right: 10px;
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    nav:first-child{
        visibility: visible;
    }
    nav > * + * {
        visibility: hidden;
    }

    #left-side {
        grid-column: 1/4;
        max-height: 120px;
    }
}

@media (min-width: 641px) {

}

@media (min-width: 1200px) {

}

@media (prefers-color-scheme: dark) {
    #left-side,
    #right-side {
        background-color: black;
        color:antiquewhite;
    }
    header,
    footer {
        background-color: grey;
        color: white
    }

    body {
        background-color: rgb(46, 44, 44);
        color: antiquewhite;
    }
}
